#quote-box {
  background-color: white;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  max-width: 800px;
}

#text {
  margin-bottom: 20px;
  font-size: 32px;
}

#author {
  font-size: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#tweet-quote {
  margin-right: 30px;
}

#new-quote  {
  display: flex;
  justify-content: flex-end;
  margin-left: 30px;
}
